@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	color-scheme: dark;
}

html,
body,
#root {
	@apply h-full;
}
body {
	@apply text-white bg-zinc-900 font-regular overflow-hidden overscroll-none;
}

input,
select {
	@apply outline-none;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: '';
}

@media (pointer: coarse) {
	.non-touch-screen-only {
		@apply hidden;
	}
}

@media (pointer: coarse) {
	.icon-button {
		@apply text-white/60 active:text-white transition-colors duration-300 select-none;
		-webkit-tap-highlight-color: transparent;
	}
	.select-option {
		@apply whitespace-nowrap rounded-lg cursor-pointer active:bg-zinc-700/70 transition-colors duration-300;
		-webkit-tap-highlight-color: transparent;
	}
}
@media (pointer: fine) {
	.icon-button {
		@apply text-white/60 hover:text-white transition-colors duration-300 select-none;
		-webkit-tap-highlight-color: transparent;
	}
	.select-option {
		@apply whitespace-nowrap rounded-lg cursor-pointer hover:bg-zinc-700/70 transition-colors duration-300;
		-webkit-tap-highlight-color: transparent;
	}
}
