@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	color-scheme: dark;
}

html,
body,
#root {
	@apply h-full;
}
body {
	@apply text-white bg-zinc-900 font-regular;
}

input,
select {
	@apply outline-none;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: '';
}

@media (pointer: coarse) {
	.non-touch-screen-only {
		@apply hidden;
	}
}
